<% customers.each do |customer| %>
      <tr class="bg-light">
        <td class="text">
          <%= link_to customer_path(customer.id), class: "text" do %><%= customer.name %><% end %>
        </td>
        <td><%= render "public/relationships/btn", customer: customer, options: { class: "text follow-link" } %></td>
      </tr>
    <% end %>