<div class="container">
  <h2 class="d-flex justify-content-center pt-5">favorite recipes</h2>
  <div class="row">
    <% if @like_list.present? %>
      <% @like_list.each do |recipe| %>
        <div class="col-3">
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag recipe.image, size: "200x200" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @like_list %>
</div>