<div class="container">
  <h2 class="text-title d-flex justify-content-center pt-5">favorite recipes</h2>
  <div class="row">
    <% if @like_list.present? %>
      <% @like_list.each do |recipe| %>
        <div class="mb-3 mx-auto col-lg-3  col-md-4 col-12 text-center">
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag recipe.image, size: "200x200" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center pt-5">
    <%= paginate @like_list %>
  </div>
</div>