<div class="fullheight container">
  <h2 class="text-title d-flex justify-content-center pt-5 pb-3">Followe Customers</h2>
  <table class="table table-bordered table-hover">
    <tr class="table-active">
      <th class="text">ユーザ名</th>
      <th></th>
    </tr>
    <% if @customers.exists? %>
      <%= render "/public/customers/index", customers: @customers %>
    <% else %>
      <p class="d-flex justify-content-center pt-5 pb-3">ユーザーはいません</p>
    <% end %>
  </table>
  <div class="d-flex justify-content-center my-5">
    <%= link_to "back", :back, class: "btn btn-outline-secondary" %>
  </div>
</div>