@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.field_with_errors {
  display: contents;
}

.text-title {
    font-weight: bold;
    color: #59340B;
}

.header-title, .footer-title {
  font-weight: bold;
  color: #D9D6D2;
}

.navbar {
    background-color: #73563D;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  background-color: #000000;
}

.navbar-toggler{
  border-color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #D9D6D2;
}

.ml-auto {
  margin-left: auto;
}

.navbar-collapse {
  justify-content: flex-end;
}
.footer {
    background-color: #73563D;
    height: 20vh;
}
.main {
    background-color: #E6D5BA;
}

.recipe {
    background-color: #F8F4E6;
    border-radius: 10px;
}

.genre-search, .table {
    background-color: #F8F4E6;
}

.text {
    color: #59340B;
}

.table-draft {
    background-color: #F8F4E6;
}

.fullheight {
    height: 80vh;
}

.heading {
  padding: 0 2em 20px;
  font-size: 26px;
  background-image:repeating-linear-gradient(
  -45deg,
  #73563D 0px, #73563D 2px,
  rgba(0 0 0 / 0) 0%, rgba(0 0 0 / 0) 50%
  );
  background-size: 8px 8px;
  background-repeat: repeat-x;
  background-position: center bottom;
}

@media screen and (max-width:992px) {
  .form-group-detail {
      margin-left: 35px;
  }
  
  .form-group-step {
      margin-left: 35px;
  }
  
  .form-group-file {
      margin-left: 50px;
  }
}

@media screen and (max-width:768px) {
  .recipe-image{
      max-width: 65%;
      height: auto;
      object-fit: cover;
  }
  
  .txt-limit {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
}