@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.field_with_errors {
  display: contents;
}

.text-title {
    font-weight: bold;
    color: #59340B;
}

.navbar {
    background-color: #ddb687;
}

.nav-item {
    color: #fff;
}

.ml-auto {
  margin-left: auto;
}

.navbar-collapse {
  justify-content: flex-end;
}
.footer {
    background-color: #ddb687;
    height: 20vh;
}
.main {
    background-color: #E6D5BA;
}

.recipe {
    background-color: #F8F4E6;
    border-radius: 10px;
}

.genre-search {
    background-color: #F8F4E6;
}

.text {
    color: #59340B;
}

.table-draft {
    background-color: #F8F4E6;
}

.fullheight {
    height: 80vh;
}

@media screen and (max-width:992px) {
  .form-group-detail {
      margin-left: 35px;
  }
  
  .form-group-step {
      margin-left: 35px;
  }
  
  .form-group-file {
      margin-left: 50px;
  }
}

@media screen and (max-width:768px) {
  .recipe-image{
      max-width: 65%;
      height: auto;
      object-fit: cover;
  }
  
  .txt-limit {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
}